.section_title{
    font-size: var(--h1-font-size);
}

.services_container{
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1.875rem;

    & .services_card{
        text-align: center;
        padding: 1.875rem;
        border-radius: var(--border-radius);
        /* box-shadow: var(--shadow); */
        background-color: var(--container-color);
    }
} 
.services_img{
    height: 100px;
    width: 100px;
}