
.carrosel {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .slider-item {
    width: 100%;
    height: 500px;
    object-fit: contain; /* ou 'cover' dependendo do efeito que quiser */
    display: block;
    margin: 0 auto;
  }
  
  .section_title{
    margin-bottom: 5rem;
  }
    