
.carrosel {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  background-color: aqua;
}

.slider-item {
  height: 220px;
  width: 340px;
  border-radius: 15px;
}
  
.section_title{
  margin-bottom: 3rem;
}
    