

.carrosel {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  grid-gap: 15px;
}


.cards {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  
  & .title{
    position: absolute;
    display: none;
    color: #ffffff;
    z-index: 2;
    font-size: 0.9rem;
    font-weight: 600;
    margin-top: 10px;
    bottom: 30px;
    pointer-events: none; /* Permite interação com elementos abaixo */
  }
  
  & .descrition{
    position: absolute;
    display: none;
    font-size: 0.8rem;
    margin-top: 15px;
    bottom: 10px;
    color: #ffffff;
    z-index: 2;
    pointer-events: none; /* Permite interação com elementos abaixo */
  }

  & .slider-item-container{
    position: relative;
    width: 100%;
    height: 100%;

    &:hover::before{
      content: "";
      position: absolute;
      top: 0; /* Garante que cubra todo o container */
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(65, 88, 110, 0.493); /* Fundo translúcido */
      border-radius: 15px;
      z-index: 1;
      backdrop-filter: blur(8px); /* Efeito glassmorphism */
      -webkit-backdrop-filter: blur(8px); /* Suporte Safari */
      transition: all 1s !important;
      pointer-events: none; /* Permite interação com elementos abaixo */
    }
  }
}

.slider-item {
  height: 220px;
  width: 340px;
  border-radius: 15px;
  z-index: 0;

  &:hover{
    scale: calc(1.3);
    transition: all .9s;
  }

}

.section_title{ 
  margin-bottom: 3rem;
}
    