

aside{
    position: fixed;
    left: 0;
    top: 0;
    /* background-color: var(--body-color); */
    border-right: 1px solid rgba(0, 0, 0, 0.089);
    padding: 2.5rem;
    width: 110px;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    z-index: 10;
}

.nav_list{
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    margin-top: 15px;
    & .nav_link{
        font-size: 1.5rem;
        color: var(--text-color);
        font-weight: bold;
        &:hover{
            color: var(--Second-color);
        }
    }

}
& .copyright{
    font-size: var(--small-font-size);
    color: hsl(247, 6%, 28%);
    transform: rotate(-180deg);
    writing-mode: vertical-rl;
}

/* Layout para mobile   */

@media (max-width: 768px){
    aside{
        top: auto;             /* ADICIONE ISSO */
        bottom: 0;             /* Garante que fique no rodapé */
        left: 0;
        width: 100%; 
        min-height: 60px !important;
        background-color: #ffffff;
        flex-direction: row;
        align-items: center;   /* Centraliza os ícones verticalmente */
        padding: 0 1rem;       /* Padding horizontal */

        & .nav_logo {
            display: none;
        }

        & .nav_list {
            flex-direction: row;
            justify-content: space-between;
            column-gap: 2.5rem;
            width: 100%;
        }

        & .copyright {
            display: none;     /* Oculta copyright no mobile */
        }
    }
}
