aside{
    position: fixed;
    left: 0;
    top: 0;
    background-color: var(--body-color);
    border-right: 1px solid rgba(0, 0, 0, 0.19);
    padding: 2.5rem;
    width: 110px;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    z-index: 10;
}

.nav_list{
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    margin-top: 10px;
    & .nav_link{
        font-size: 1.5rem;
        color: var(--text-color);
        font-weight: bold;
        &:hover{
            color: var(--Second-color);
        }
    }

}
& .copyright{
    font-size: var(--small-font-size);
    color: hsl(245, 15%, 65%);
    transform: rotate(-180deg);
    writing-mode: vertical-rl;
    
}