.resume_container{
    margin-top: 3rem;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    column-gap: 1.875rem;   
}

.timeline{
    background-color: var(--container-color);
    padding: 1.875rem;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
    position: relative;
}

.timeline_item{
    position: relative;
    padding-left: 3.125rem;
    padding-bottom: 3.125rem;
    
    &:last-child{
        padding-bottom: 0;
    }

    &::before{
        content: "";
        position: absolute;
        width: 1px;
        height: 100%;
        background-color: var(--Second-color);
        left: 0.25rem;
        top: 0;
    }    
    & i{
        position: absolute;
        color: var(--Second-color);
        font-size: var(--h2-font-size);
        background-color: var(--container-color);
        left: -0.4rem;
        top: 0;
        padding: 0.4375rem 0;
    }

    & .timeline_date{
        color: var(--Title-color);
        font-size: var(--small-font-size);
    }

    & .timeline_title{
        margin: 0.4rem 0;
        font-size: var(--h3-font-size);
    }
}

@media (max-width: 768px){
    .timeline{
        margin: 1rem 0;
    }
}