.about_container{
    grid-template-columns: 3fr 9fr;
    column-gap: 1.875rem;
}

.about_data{
    padding: 1.875rem;
    background-color: var(--container-color);
    box-shadow: var(--shadow);
    border-radius: var(--border-radius);
}

.about_img{
    width: 150px;
    height: 15  0px;
}
.section-titel{
    color: var(--Title-color);
}