.about_container{
    grid-template-columns: 3fr 9fr;
    column-gap: 1.875rem;
}

.about_data{
    padding: 1.875rem;
    background-color: var(--container-color);
    box-shadow: var(--shadow);
    border-radius: var(--border-radius);
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.875rem;
    align-items: flex-start;
    position: relative;

    &::before{
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-right: 15px solid var(--container-color);
        left: -0.93rem;
        top: 20%;
    }

    & .about_description{
        margin-bottom: 1rem;
        text-align: justify;
    }

    & .about_skills {
        row-gap: 2.840rem;

        & .skills_title{
            display: flex;
            justify-content: space-between;
            color: var(--Title-color);

            & .skills_names{
                font-size: var(--normal-font-size);
                font-weight: var(--font-medium);
            }

            & .skills_number{
                line-height: 1.2;
            }
        }

        & .skills_bar{
            margin-top: 5px;
            height: 7px;
            border-radius: 0.25rem;
            background-color: #d2d2d276;
        }
        & .skills_percetage{
            height: 7px;
            border-radius: 0.25rem;
            display: block;
        }
        & .development{
            background-image:linear-gradient(to right, rgb(233, 233, 0), rgb(253, 253, 70));
            width: 89%;
        }
        & .ui_design{
            background-image:linear-gradient(to right, #4aa1af, #22e1ff);
            width: 76%;
        }
        & .script{
            background-image:linear-gradient(to right, #ff7a4e, #fdb7a0);
            width: 50%;
        }

    }
}
.about_boxes{
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
    text-align: justify;
    & .about_box{
        display: flex;
        /* flex-direction: column; */
        /* align-items: center; */

        & .about-icon{
            font-size: 2rem;
            margin-right: 20px;
            color: #ada499;
        }

        & .about_title{
           font-size: 1.875rem;
           font-weight: var(--font-medium);
           color: var(--Title-color);
        }
    }
}
.about_img{
    width: 150px;
    height: 150px;
}
.section-titel{
    color: var(--Title-color);
}