.home{
    position: relative;
    min-height: 100vh;
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;

    & .intro{
        max-width: 540px;
        /* background-color: var(--body-color); */
        text-align: center;

        & .home_img{
            margin-bottom: 1.5rem;
            height: 100px;
            width: 100px;
            border-radius: 100%;
        }

        & .home_name{
            font-size: var(--h1-font-size);
            font-weight: var(--font-bold);
            color: var(--Title-color);
            margin-bottom: 0.5rem;
        }

        .home_socials{
            display: flex;
            justify-content: center;
            gap: 50px;
            margin: 1rem;

            & .home_social_link{
                font-size: var(--h2-font-size);
                color: var(--h1-font-size);
                cursor: pointer;
                transition: .3s;
                &:hover{
                    color: var(--Second-color);
                }
            }
        }
       & .scroll_down{
            position: absolute;
            left: 0;
            bottom: 2.5rem;
            width: 100%;

            & .home_scroll-name{
                font-size: var(--small-font-size);
            }
            & .mouse{
                border: 2px solid var(--Title-color);
                display: block;
                width: 1.25rem;
                height: 1.6rem;
                margin: auto;
                position: relative;
                margin-top: .75rem;
                border-radius: 1rem;

                & .wheel{
                    width: .25rem;
                    height: .25rem;
                    border-radius: 100%;
                    background-color: var(--Title-color);
                    position: absolute;
                    top: .5rem;
                    left: 50%;
                    transform: translate(-50%);
                    animation: ani-mouse 1s linear infinite;
                }
            }
        }
    }

    & .shapes{
        position: absolute;
        left: 0;
        top: 0;
        font-size: 1.35rem;
        width: 100%;
        height: 100vh;
        z-index: -1;


        & .icon-ghost{
            color: #ada499;
            position: absolute;

        }
        & .f1{
            top: 10%;
            left: 30%;
        }
        & .f2{
            color: #ff6531;
            top: 50%;
            left: 4%;
        }
        & .f3{
            top: 90%;
            right: 30%;
        }
        & .f4{
            top: 20%;
            left: 70%;
        }
    
        & .icon-energy{
            position: absolute;
            color: #e9e500;
        }
        & .e1{
            left: 25%;
            bottom: 15%;
        }
        & .e2{
            left: 5%;
            top: 15%;
        }
        & .e3{
            right: 5%;
            bottom: 50%;
        }
        & .icon-fire{
            position: absolute;
            color: var(--Second-color);
        }
        & .fr1{
            left: 50%;
            top: 1%;
        }
        & .fr2{
            right: 20%;
            bottom: 35%;
        }
        & .fr3{
            left: 1%;
            bottom: 8%;
        }
        & .icon-drop{
            position: absolute;
            color: var(--first-color);
        }

        & .d1{
            right: 4%;
            bottom: 10%;
        }

        & .d2{
            right: 2%;
            top: 5%;
        }
        & .d3{
            left: 20%;
            top: 35%;
        }
        & .d4{
            left: 10%;
            bottom: 25%;
        }
    }

}

@keyframes ani-mouse {
    0%{
        top: 29%;
    }
    15%{
        top: 50%;
    }
    50%{
        top: 50%;
    }
    100%{
        top: 29%;
    }
}   
