.section_title{

}
.contact_form{
    max-width: 600px;
    margin: 0 auto;
    box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.103);
    background-color: var(--container-color);
}
.nome{

}
.email{

}
.form_group{

}
.form_group_textarea{

}